# Test coverage configuration.
# Usage:
#   pip install --index-url 'https://:2023-08-11T15:21:47.976039Z@time-machines-pypi.sealsecurity.io/' coverage
#   coverage erase  # clears previous data if any
#   coverage run -m tornado.test.runtests
#   coverage report  # prints to stdout
#   coverage html  # creates ./htmlcov/*.html including annotated source
[run]
branch = true
source = tornado
omit = 
    tornado/platform/*
    tornado/test/*
    */_auto2to3*

[report]
# Ignore missing source files, i.e. fake template-generated "files"
ignore_errors = true
